{% extends '::base.html.twig' %}

{% block body -%}
<h1>Cuota</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Monto_pactado</th>
            <td>{{ entity.montopactado }}</td>
        </tr>
        <tr>
            <th>Monto_pagado</th>
            <td>{{ entity.montopagado }}</td>
        </tr>
        <tr>
            <th>Fecha_vencimiento</th>
            <td>{{ entity.fechavencimiento|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Fecha_pago</th>
            <td>{{ entity.fechapago|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('cuenta_show',{id: entity.cuenta.id }) }}" class="btn btn-primary">
    Volver a la Cuenta
</a>

<a href="{{ path('cuota_edit', { 'id': entity.id }) }}" class="btn btn-default">Editar</a>
</li>
<li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
