{% extends '::base.html.twig' %}

{% block titulo %}
Lista de Cuentas registradas
{% endblock %}

{% block body -%}
<div class="row">
{% for entity in entities %}
        {% set iconTipoCuenta = 'calendar' %}
        {% if entity.tipocuenta.id == 2 %}{% set iconTipoCuenta = 'refresh' %}{% endif %}
       
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        	<div class="widget-container fluid-height">
              <div class="heading">
                <i class="fa fa-{{ iconTipoCuenta }} pull-left" data-toggle="tooltip" title="{{ entity.tipocuenta.descripcion }}"></i>
                {{ entity.nombre|truncate(15)}} 
              </div>
              <div class="widget-content padded">
               	<div class="progress progress-striped active">
	                <div class="progress-bar" style="width: 50%"></div>
                </div>
              	
              	<a href="#" class="btn btn-primary-outline btn-xs" ><i class="fa fa-folder-open-o"></i></a>
              	<a href="{{ path('cuenta_show',{slug:entity.slug} ) }}" class="btn btn-primary-outline btn-xs">Ver detalle</a>
               
                <p class="text-info">{{ entity.descripcion }}</p>
              	
              	 <small><span class="label label-primary">{{ entity.cuotas|length() }}</span> Cuotas Registradas</small>
              </div>
            </div>
        </div>
{% endfor %}
</div>

{% endblock %}
