{% extends '::base.html.twig' %} 

{% block titulo %}
Agregar Cuenta
{%endblock %} 

{% block body -%}
<div class="row">

	<div class="col-md-12">

		<div class="widget-container fluid-height">
			<div class="heading">
				<i class="fa fa-question"></i>Agregar Cuenta
			</div>
			<div class="widget-content padded">
				<!-- form Cuenta -->

				<div class="form ">
					<form class="form-horizontal" action="{{ path('cuenta_create') }}"
						method="post"  {{ form_enctype(form) }}>

						<!-- Categoria -->
						<div class="form-group">
							{{ form_label(form.categoria) }}
							<div class="col-lg-6">{{ form_errors(form.categoria) }} {{
								form_widget(form.categoria) }}</div>
						</div>

						<!-- Nombre -->
						<div class="form-group">
							{{ form_label(form.nombre) }}
							<div class="col-lg-6">{{ form_errors(form.nombre) }} {{
								form_widget(form.nombre) }}</div>
						</div>

						<!-- Descripción -->
						<div class="form-group">
							{{ form_label(form.descripcion) }}
							<div class="col-lg-6">{{ form_errors(form.descripcion) }} {{
								form_widget(form.descripcion) }}</div>
						</div>

						<!-- cantidadCuotas -->
						<div class="form-group">
							{{ form_label(form.cantidadCuotas) }}
							<div class="col-lg-2">{{ form_errors(form.cantidadCuotas) }} {{
								form_widget(form.cantidadCuotas) }}</div>
							<div class="col-lg-4">{{ form_widget(form.cuotasIndefinidas) }}
								{{ form_label(form.cuotasIndefinidas) }}</div>
						</div>

						<!-- Fecha primera Cuota -->
						<div class="form-group">
							{{ form_label(form.fechaPrimeraCuota) }}
							<div class="col-lg-6">{{ form_errors(form.fechaPrimeraCuota) }}
								{{ form_widget(form.fechaPrimeraCuota) }}</div>
						</div>

						<!-- Monto Cuota -->
						<div class="form-group">
							{{ form_label(form.montoCuota) }}
							<div class="col-lg-6">{{ form_errors(form.montoCuota) }} {{
								form_widget(form.montoCuota) }}</div>
						</div>

						<!-- Buttons -->
						<div class="form-group">
							<!-- Buttons -->
							<div class="col-lg-6 col-lg-offset-2">
								<button type="submit" class="btn btn-primary">Agregar</button>
								<button type="reset" class="btn btn-danger">Limpiar</button>
								<a href="{{ path('cuenta') }}" class="btn btn-default"> Volver a
									la lista</a>
							</div>
						</div>
						{{ form_rest(form) }}
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
