{% extends '::base.html.twig' %} 
{% block titulo %} 
Detalle de cuenta 
{% endblock %} 
{% block body -%}
<div class="row">
	<div class="col-lg-12">
		<div class="widget-container stats-container">
	    	<div class="col-md-3">
	        	<div class="number">
	            	<div class="icon money"></div>
	                <small>$</small>{{ estadisticas.total_pagado }}
	            </div>
	            <div class="text">
	            	Pagado a la Fecha
	            </div>
			</div>
			<div class="col-md-3">
	        	<div class="number">
	            	<div class="icon money"></div>
	                <small>$</small>-
	            </div>
	            <div class="text">
	            	Pendiente por Pagar
	            </div>
			</div>
			<div class="col-md-3">
	        	<div class="number">
	            	<div class="icon money"></div>
	                <small>$</small>-
	            </div>
	            <div class="text">
	            	Cuotas Pagadas
	            </div>
			</div>
			<div class="col-md-3">
	        	<div class="number">
	            	<div class="icon money"></div>
	                <small>$</small>-
	            </div>
	            <div class="text">
	            	Cuotas Pendientes
	            </div>
			</div>
		</div>
	</div>
</div>
{% for key,periodos in cuotas %}

<div class="row">
	<div class="col-lg-12">
		<div class="widget-container fluid-height">
			<table class="table table-filters">
				<tbody>
	            	<tr>
	                	<td class="filter-category blue">
	                      <div class="arrow-left"></div>
	                      <i class="fa fa-stethoscope"></i>
	                    </td>
		                <td>
		                	Cuotas pertenecientes al año <b>{{ key }}</b>
						</td>
	            	</tr>
	          	</tbody>
	        </table>
		</div>
	</div>
</div>

<div>
	<div class="row">
		{% for periodo in periodos %}
		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 margin-bottom">
			<div class="widget-container small">
			  <div class="heading">
			    <i class="fa fa-calendar"></i>{{ periodo.fechaVencimiento|date('d') }} de {{ periodo.fechaVencimiento|date('F') }}
			  </div>
			  <div class="widget-content padded">
			    <a href="{{ path('cuota_show',{ id: periodo.id }) }}"
					class="btn btn-success-outline btn-block btn-xs">Ver Detalles</a> 
				{% if periodo.fechaPago is null %} 
					<a href="{{ path('cuota_ingresar_pago',{ id: periodo.id }) }}"
						class="btn btn-primary btn-block btn-xs">Pagar</a> 
				{% else %}
					<a class="btn btn-default btn-block btn-xs disabled">Pagada</a>
				{% endif %}
				<br>
				{# Pagado#}
				<small class="text-muted">
					<i class="fa fa-check-square-o"></i>Pagado
				</small><br>
				
				{# Comprobantes #}
				<small class="text-muted">
					<i class="fa fa-file-text-o "></i>Tiene Comprobantes
				</small><br>
				
				{# fecha Pago Pagado #}
				<small class="text-muted">
				<i class="fa fa-clock-o"></i>Hace 2 dias
				</small>

			  </div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endfor %}
<a href="{{ path('cuenta') }}" class="btn btn-primary"> Regresar a la listat </a>
<a href="{{ path('cuenta_edit', { 'slug': entity.slug }) }}" class="btn btn-default"> Editar </a>
<form action="{{ path('cuenta_delete', { 'slug': entity.slug }) }}"	method="post">
	<input type="hidden" name="_method" value="DELETE" /> 
	{{	form_widget(delete_form) }}
	<button type="submit" class="btn btn-danger">Eliminar</button>
</form>

{% endblock %}

{% block stylesheets %}
<!-- jQuery Easypiechart stylesheet -->
<link href="{{ asset('style/jquery.easy-pie-chart.css') }}" rel="stylesheet">   
{% endblock %}

{% block javascripts %}
 <script src="{{ asset('js/jquery.easypiechart.min.js') }}"></script> <!-- jQuery Easy Pie Chart -->
 
 <script>
 $( document ).ready(function() {
	 $('.percentage').easyPieChart({
	    	animate: 2000
    });
});
 </script>
{% endblock %}
